<div class="home-section">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Managed Services</h1>
          <h3>Services & Applications</h3>
          <h3>Hardware</h3>
          <h3>Software</h3>
          <h3>Security</h3>
          <h3>Backup</h3>
          <h3>Networking</h3>
        </div>
    </div>
  </div>
</div>