<h1 class="page-header">
  Newsroom  
</h1>

<%@articles.each do |a|%>
  <div>
    <%=image_tag(a.image(:medium))%>

    <h2>
      <%=a.title.capitalize%> 
    </h2>
    <%= raw(a.body)%>

  </div>
<%end%>