<h1 class="page-header">
  Newsroom  
</h1>

<%@articles.each do |a|%>
  <div>
    <%=image_tag(a.image(:medium))%>

    <h2>
      <%=a.title.capitalize%> 
    </h2>    
    <% preview = (a.body).lines.to_a%>
    <%preview[0..4].each do |l|%>
    <%= l.html_safe%>
    <%end%>
    <%= link_to "Read More", article_path(a), class: "btn btn-lg btn-success"%>
  </div>
  <br>
<%end%>