<!-- Header -->
<header class="header-news">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Our Blog</div>
            <div class="intro-heading">The latest IT news</div>
            <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
        </div>
    </div>
</header>

<br>
<div class="container">
    <div class="row">
        <div class="col-lg-offset-3">
            <div style="margin:60px;" class="fb-page" data-href="https://www.facebook.com/gentrongroup" data-tabs="timeline" data-width="960" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/gentrongroup" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/gentrongroup">Gentron Group</a></blockquote></div>   
        </div>       
        <br>
    </div>
</div>