<h1 class="page-header">Staff landing page</h1>

<%= link_to "Manage Users", user_index_path %><br>
<%= link_to "Manage Newsroom", articles_path %><br>
<%= link_to "Customer feedback report", reports_feedback_path%>