<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"></div>
      <div class="intro-heading">Our Business Offerings</div>
    </div>
  </div>
</header>

<section id="ourServices" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Moving your business to the next level through innovative ICT solutions</h2>
        <h3 class="section-subheading text-muted">We can create personalized solutions, backed by world-class support. We will help you get the most from your products, train your staff, and offer you technical expertise. We also offer finance and lease agreements to clients not looking for an outright purchase</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">COMMITMENT</h4>
        <p class="text-muted">
          As technology develops it has the ability to transform the way business is done. We are dedicated to ensure that your business runs as efficiently as possible. 
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">SUPPORT</h4>
        <p class="text-muted">24/7 support is critical to any business. Gentron is here to support your business though our Service Level Agreements.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">TECHNOLOGY</h4>
        <p class="text-muted">Cloud based technology is becoming critical for any business. Gentron has partnered with major cloud providers to ensure our clients have the best technology and most secure data at all times.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">RELATIONSHIPS</h4>
        <p class="text-muted">We believe in committed long term relationships with our clients. We understand the needs of our clients. </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">COMPETITVE ADVANTAGE </h4>
        <p class="text-muted">
          Your business will be fully equipped to develop and deliver in today's rapidly changing world. 
        </p>
      </div> 
    </div>
  </div>
</section>
<div class="container">
<div class="row text-center">
  <a href="#contact" class="page-scroll btn btn-xl">Contact Us</a>
  
</div>
</div>
<section id="ourServices" class="bg-light-gray">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">ICT STRATEGY</h4>
        <p class="text-muted">
          Our team can assist you in planning for the future and developing an ICT strategy that can meet your needs where you are and scale as you grow.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">INTEGRATION</h4>
        <p class="text-muted">
          Our team can provide you with a full assessment on your current environment and assist you to successfully integrate your new technology.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">MANAGED SERVICES</h4>
        <p class="text-muted">
          Gentron can manage your ICT services with a Service Level Agreement. Contact us today to discuss your requirements and let us take the hassle out of your IT department.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">WIFI IMPLEMENTATIONS AND MANAGEMENT</h4>
        <p class="text-muted">
          We are partners with some of the worlds best Wifi manufacturers. We supply and install Aruba, Rukus, Unifi. Allow us to assess your needs and provide a solution to suit. Manage all your device from one dashboard from anywhere.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">PROCUREMENT</h4>
        <p class="text-muted">
          Our strong relationship with South Africa’s top suppliers allow us to offer you all the IT Hardware and software you may require at best prices, guaranteed.
        </p>
      </div>
    </div>
  </div>
</section>