<!-- Header -->
<header class="header-company">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"></div>
      <div class="intro-heading">Who we are </div>
      <a href="#contact" class="page-scroll btn btn-xl">Contact Us</a>
    </div>
  </div>
</header>


<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Us</h2>
        <p>
          Gentron was founded in 1992 as a technology supply company, but soon grew to become one of the leading suppliers of IT support services in South Africa. We provide a whole host of services to our clients, all contributing to a full IT package, including professional support, strategic consulting and cloud computing.  
          <br><br>
          On the technology side, we provide a long list of brands, including Acer, Asus, Mecer, Gigabyte, HP, Dell, Transcend, Kensington, Samsung and Apple, along with software to provide a complete IT solution that meet the needs of our clients. Our hardware comes with an on-site warranty at no additional cost.
          <br><br>
          We don’t simply want to be service providers, but want our clients to see us as business partners helping to make their lives easier. Consider us your outsourced IT department.
          <br><br>
          <h4 class="section-subheading text-muted">VISION</h4>
          To become the preferred supplier of IT services and technology in South Africa and build on our reputation for always being accessible and reliable.
          <br><br>
          <h4 class="section-subheading text-muted">MISSION</h4>
          To provide innovative solutions that exceed client expectations and not to be a drop-off-and-go company, but build long-term relationships with clients. We are always available and virtual, meaning we can be reached for assistance over any internet enabled device from anywhere in the country.
          <br><br>
          <h4 class="section-subheading text-muted">Values</h4>          
          Open |
          Humility |
          Ethical |
          Integrity |
          Innovative |
          Reliable |
          High-performance |
        </p>      
        <br>            
        
      </div>
    </div>

  </div>
</section>

<section id="testimonials" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">What Our Clients Say</h2>
        <p>
          With over 21 years’ experience, Gentron has built up a wealth of knowledge as an IT support company and hardware supplier. We don’t simply want to be service providers for our clients, but rather become something similar to business partners through long-term relationships and excellent service. See what some of our clients have had to say about us! 
          <br /><hr><br />
          <b>“Gentron will always go the extra mile, even though we are not a big corporate company. They really try to accommodate our limited financial budget.”</b><br>
          – Financial Manager for a leading private Afrikaans high school
          <br><br>
          <b>“Gentron is your one stop IT shop, from hardware, software, knowledge and skills. I would definitely recommend them.”</b><br>
          – Manager of the IT department of a private school for girls
          <br><br>
          <b>“Gentron’s service is great and reliable and their technicians are friendly. We have had no hassles and I would gladly recommend them.”</b><br>
          – ICT Director for a collection of schools in Lyme Park, Sandton
          <br><hr>
        </p>      
        <br>            
        
      </div>
    </div>

  </div>
</section>


<!-- Team Section -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Meet the Team</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>



    <div class="row">
      <div class="col-sm-3">
        <div class="team-member">
          <img src="http://placehold.it/239x239" class="img-responsive img-circle" alt="">
          <h4>Ernest Skinner</h4>
          <p class="text-muted">CEO Gentron Group</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://www.linkedin.com/in/ernest-skinner-79367228?authType=NAME_SEARCH&authToken=AnOp&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A97194207%2CauthType%3ANAME_SEARCH%2Cidx%3A6-1-14%2CtarId%3A1469551560885%2Ctas%3Aernest"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img src="http://placehold.it/239x239" class="img-responsive img-circle" alt="">
          <h4>Brian Lou</h4>
          <p class="text-muted">Sales Director</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://www.linkedin.com/in/brian-lou-53426536?authType=NAME_SEARCH&authToken=Xq_J&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A126042808%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1469551599999%2Ctas%3Abrian%20lo"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img src="http://placehold.it/239x239" class="img-responsive img-circle" alt="">
          <h4>Patrick Massinon</h4>
          <p class="text-muted">Director</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img src="http://placehold.it/239x239" class="img-responsive img-circle" alt="">
          <h4>Diviyesh Nathoo </h4>
          <p class="text-muted">Managing Director</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted"></p>
      </div>
    </div>
  </div>
</section>