/* Visit http://www.menucool.com/horizontal/javascript-menu for source code and other menu CSS templates */

#sse1
{
    /*You can decorate the menu's container, such as adding background images through this block*/
    background-color: #ffffff;
    height: 110px;
    width: 100%
    padding: 15px;
    border-radius: 3px;
    box-sizing: content-box;
}
#sses1
{
    margin:0 auto;/*This will make the menu center-aligned. Removing this line will make the menu align left.*/
}
#sses1 ul 
{ 
    position: relative;
    list-style-type: none;
    float:left;
    padding:0;margin:0;
    border-bottom:solid 1px whitesmoke;
}
#sses1 li
{
    float:left;
    list-style-type: none;
    padding:0;margin:0;background-image:none;
}
/*CSS for background bubble*/
#sses1 li.highlight
{
    background-color:#800;
    top:95px;
    height:2px;
    border-bottom:solid 1px #000000;
    z-index: 1;
    position: absolute;
    overflow:hidden;
}
#sses1 li a
{
    box-sizing: content-box;
    height:90px;
    padding-top: 8px;
    margin: 0 20px;/*used to adjust the distance between each menu item. Now the distance is 20+20=40px.*/
    color: #000;
    font: normal 11px arial;
    text-align: center;
    text-decoration: none;
    float: left;
    display: block;
    position: relative;
    z-index: 2;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    padding: 1em;
    display: none;
    z-index: 8;
    text-decoration: none;
}

.back-to-top:hover {    
    color: #01DF3A;
    background-color: #000;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    opacity: 0.8;
    text-decoration: none;
}