<h1 class="page-header">The Team
   <script type="IN/CompanyProfile" data-id="2553010" data-format="hover" data-related="false"></script>
</h1>
<div class="col-lg-12">
	<div class="col-lg-5">
	<script type="IN/MemberProfile" data-id="https://za.linkedin.com/pub/ernest-skinner/28/672/793" data-format="inline" data-related="false"></script>
	<script type="IN/MemberProfile" data-id="https://za.linkedin.com/pub/brian-lou/36/265/534" data-format="inline" data-related="false"></script>
	</div>
	<div class="col-lg-6">
	<script type="IN/MemberProfile" data-id="https://za.linkedin.com/pub/patrick-massinon/93/384/2b2" data-format="inline" data-related="false"></script>
	<script type="IN/MemberProfile" data-id="https://za.linkedin.com/pub/diviyesh-nathoo/34/504/86b" data-format="inline" data-related="false"></script>	
	</div>	
</div>
