<h1 class="page-header">Email Disclaimer</h1>
<ol>
	<li><b>Confidentiality:</b>
	 This email is confidential and may contain privileged or copyright information. You may not present this message to another party without consent from the sender. If you are not the intended recipient please notify the sender and delete this email, and you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.</li><br>
	<li><b>Liability:</b> 
	This email is not a binding agreement and does not conclude an agreement without the express confirmation by the sender's superior or a director of the Company.</li><br>
	<li><b>Viruses:</b> 
	The Company does not certify that this email is free of viruses or defects.</li><br>
	<li><b>Requested:</b> 
	The Company does not consent to its employees sending un-asked for emails which contravene the law. In the event that you feel this email is such, please notify the Company in order for the appropriate corrective action to be taken.
</li><br>
	<li><b>Advice:</b> 
	Any views or opinions presented in this email are solely those of the author and do not necessarily represent those of the company. Any actions taken on the basis of this email are at the reader’s own risk.</li><br>
	<li><b>Other:</b> 
	The sender of this email is expressly required not to make any defamatory statements. Any such communication is contrary to company policy and outside the scope of the employment of the individual concerned. The company will not accept any liability in respect of such communication, and the employee responsible will be personally liable for any damages or other liability arising.</li><br>
</ol>

